{{/*
    Default page payout

*/ -}}
<html>
<head>
    {{ template "head.tmpl" . -}}
</head>
<body>
    {{ template "menu.tmpl" . -}}
    {{ .Content -}}
    {{ template "footer.tmpl" . -}}
</body>
</html>
